# log files
*.log

# IDEA project files
*.iml
*.idea/

# Eclipse project files
.project
.classpath
.settings
.springBeans

# target directories
target/
overlays/
artifacts/
activemq/
build/

#annoying files
create.ddl
drop.ddl
derby.log
.checkstyle
test-output
.map
